@{
    ViewBag.Title = "Priceboard HSX";
}
<div class="container">
    <section class="panel panel-default">
        <div class="panel-heading">
            <strong>HSX Broadcast Manager</strong>
        </div>
        <section class="panel-body">
            <form class="form-inline">
                <div class="form-group">
                    <label>Client ID</label>
                    <input class="form-control" type="text" id="connectionId" disabled="disabled" />
                </div>
                <div class="form-group">
                    <label>Channel</label>
                    <input class="form-control" type="text" id="txt-channel" disabled="disabled" value="HSX" />
                </div>
            </form>
            <div style="padding:15px 0px;" id="preview">

            </div>
        </section>
    </section>
</div>

@section scripts {
    <script src="~/Scripts/signalR/jquery.signalR-2.2.1.js"></script>
    <script src="http://localhost:62989/signalr/hubs"></script>
    <script src="~/Scripts/core/signalr.js"></script>
    <script>
        $(function () {
            function receive(msg) {
                var $pre = $('<pre/>');
                $pre.html(msg);

                $('#preview').append($pre);
            }
            function serverCallback(ws) {
                $('#connectionId').val(ws.connection.id);
            }

            var vsignalR = new signalR('http://localhost:62989/signalr/hubs');
            var hubs = [{
                name: 'priceboard',
                query: { channel: 'hsx' },
                client: { receive: receive },
                server: serverCallback
            }];
            vsignalR.connect(hubs);
        });


    </script>
}