@{
    ViewBag.Title = "Priceboard Broadcast";
}
<div class="container">
    <section class="panel panel-default">
        <div class="panel-heading">
            <strong>Priceboard Broadcast Manager</strong>
        </div>
        <section class="panel-body">
            <form>
                <div class="form-group">
                    <label for="txtClientId">Client ID</label>
                    <input type="text" class="form-control" id="connectionId" disabled="disabled" />
                </div>
                <div class="form-group">
                    <label for="txtMessage">Message</label>
                    <input type="text" class="form-control" id="txtMessage" placeholder="Message" />
                </div>
                <div class="form-group">
                    <label for="txtChannel">Channel</label>
                    <input type="text" class="form-control" id="txtChannel" placeholder="All - HSX - HNX" />
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary" id="btn-send">Send</button>
                    <button type="button" class="btn btn-default" id="btn-clear">Clear</button>
                </div>
            </form>
        </section>
        <footer id="preview"></footer>
    </section>
</div>
@section scripts {
    <script src="~/Scripts/signalR/jquery.signalR-2.2.1.js"></script>
    <script src="http://localhost:62989/signalr/hubs"></script>
    <script src="~/Scripts/core/signalr.js"></script>
    <script>
        $(function () {
            var $txtMessage = $('#txtMessage'),
                $txtChannel = $('#txtChannel');

            function serverInit(ws) {
                $('#connectionId').val(ws.connection.id);
                $('#btn-clear').click(function () {
                    clear();
                });

                $('#btn-send').click(function () {
                    var channel = $txtChannel.val(),
                        msg = $txtMessage.val();
                    if (channel)
                        ws.server.sendChannel(channel, msg);
                    else
                        ws.server.sendAll(msg);
                    clear();
                });
            }
            function clear() {
                $txtChannel.val('');
                $txtMessage.val('').focus();
            }
            var vsignalR = new signalR('http://localhost:62989/signalr/hubs');
            var hubs = [{
                name: 'priceboard',
                query: { channel: 'all' },
                client: undefined,
                server: serverInit
            }];
            vsignalR.connect(hubs);
        });
        // This optional function html-encodes messages for display in the page.
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}