@{
    ViewBag.Title = "Chat API";
}
<div class="container">
    <section class="panel panel-default">
        <div class="panel-heading">
            <strong>Admin Manager</strong>
        </div>
        <section class="panel-body">
            <form>
                <div class="form-group">
                    <label>Connection ID</label>
                    <input class="form-control" type="text" id="connectionId" disabled="disabled" />
                </div>
            </form>
        </section>
    </section>
    <section class="panel panel-default">
        <div class="panel-heading">
            <strong>Chat</strong>
        </div>
        <section class="panel-body">
            <form>
                <div class="form-group">
                    <label>To User name</label>
                    <input class="form-control" type="text" id="txt-user" />
                </div>
                <div class="form-group">
                    <label>Message</label>
                    <input class="form-control" type="text" id="txt-msg" />
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default" id="btn-chat-send">Send</button>
                    <button type="button" class="btn btn-default" id="btn-chat-send-all">Send All</button>
                    <button type="button" class="btn btn-default" id="btn-chat-clear">Clear</button>
                </div>
            </form>
            <div style="padding:15px 0px;" id="chatPreview">

            </div>
        </section>
    </section>
</div>

@section scripts {
    <script src="~/Scripts/signalR/jquery.signalR-2.2.1.js"></script>
    <script src="http://localhost:62989/signalr/hubs"></script>
    <script src="~/Scripts/core/signalr.js"></script>
    <script>
        $(function () {
            function serverInit(ws) {
                $('#connectionId').val(ws.connection.id);
                $('#btn-chat-send').click(function () {
                    var user = $('#txt-user').val(), msg = $('#txt-msg').val();
                    console.log('ws.server', ws.server);
                    ws.server.send(user, msg);
                });
                $('#btn-chat-send-all').click(function () {
                    var msg = $('#txt-msg').val();
                    ws.server.sendAll(msg);
                });

                $('#btn-chat-clear').click(function () {
                    $('#txt-user').val('');
                    $('#txt-msg').val('').focus();
                });
            }
            var vsignalR = new signalR('http://localhost:62989/signalr/hubs');
            var hubs = [{
                name: 'chat',
                query: { username: 'administrator' },
                client: undefined,
                server: serverInit
            }];
            vsignalR.connect(hubs);
        });
    </script>
}